@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

main{
    padding-bottom: 30rem;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nameTitle{
    width: 10rem;
    height: 4rem;
}

#nameDocs{
    font-size: 5rem;
    font-family: 'Fredoka', 'sans-serif';   
}

#description, h2{
    color: #920002;
    font-size: 3rem;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

#descriptionEulle{
    font-family: 'Inter', sans-serif;
    color: #7D0002;
    font-size: 1.2rem;
}

p{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 1.2rem;
}

#hiw-content{
    display: flex;
    align-items: center;
    justify-content: center;
}


#hiw{
    color: white;
    font-family: 'Fredok', sans-serif;

}


#technologies{
    color: white;
    font-family: 'Fredoka', sans-serif;   
}


#img-1, #img-2, #img-3{
    align-items: center;
    display: flex;
    justify-content: center;
}



