@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/feather-2');

:root{
    --main-red: #9F2627;
}

main{
    padding-bottom: 7rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-pitch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5rem;
    margin-bottom: 10rem;
    border: 3rem solid #93292A;
}

.video-pitch video{
    width: 100%;
    max-height: 100%;
    max-width: 80rem;
}

.nameTitle{
    width: 12rem;
    height: 4rem;
}

.nameDocs{
    font-size: 5rem;
    font-family: 'Feather', sans-serif;  
}

.description {
    color: var(--main-red);
    font-size: 3rem;
    font-family: 'Feather', sans-serif;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.description__eulle {
    color: var(--main-red);
    font-size: 1.7rem;
    font-family: 'Feather', sans-serif;  
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description_paragraph {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    text-indent: 2rem;
    max-width: 70%;
    margin: auto;
    text-align: justify;
}

.hiw-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.hiw-video {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 0 5rem 10rem;

}

.hiw-video video {
    width: 100%;
    max-height: 100%;
    max-width: 80rem;
}

.hiw__text {
    color: white;
    font-size: 3rem;
    font-family: 'Feather', sans-serif;  
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mascot {
    transform: rotate(-25deg);
}


.technologies__h2 {
    color: white;
    font-size: 3rem;
    font-family: 'Feather', sans-serif;  
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tech-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    max-width: 70%;
    margin: 5rem auto 10rem;
}


.team-title {
    color: white;
    font-size: 3rem;
    font-family: 'Feather', sans-serif;  
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dev-team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 5rem auto;
    gap: 5.5rem;
}

.nameteam__main {
    font-weight: 700;
    margin-block: 0;
}
.team-function {
    font-weight: 500;
    margin-block: 0;
}

.team-people {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-function {
    text-align: center;
}

.withgit__main {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    align-items: center;
}

.github__main {
    width: 1.3rem;
    height: 1.3rem;
}

.imgteam__main {
    border: 3px solid #892A2B;
    border-radius: 50%;
    width: 7rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 425px) {
    .nameTitle {
        width: 9rem;
        height: 3rem;
    }

    .nameDocs {
        font-size: 4rem;
    }

    .hiw-content {
        scale: 0.8;
    }

    .video-pitch video{
        width: 19rem;
    }

    .hiw-video video {
        width: 19rem;
    }

    .dev-team {
        max-width: 100%;
    }

    .nameteam__main {
        font-size: 1rem;
    }

    .team-function {
        font-size: 0.7rem;
    }

    .github__main {
        width: 1.1rem;
        height: 1.1rem;
    }
}

@media screen and (min-width: 425px) and (max-width: 700px) {
    .video-pitch video{
        width: 25rem;
    }

    .hiw-video video {
        width: 25rem;
    }
}
