@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root{
    --main-red: #BE0004;
}

main{
    padding-bottom: 30rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-pitch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    margin-bottom: 10rem;
}

.nameTitle{
    width: 10rem;
    height: 4rem;
}

.nameDocs{
    font-size: 5rem;
    font-family: 'Fredoka', 'sans-serif';   
}

.description, h2{
    color: var(--main-red);
    font-size: 3rem;
    font-family: 'Fredoka', sans-serif;
    text-align: center;

}

.description__eulle{
    font-family: 'Inter', sans-serif;
    color: var(--main-red);
    font-size: 1.2rem;
}

p{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 1.2rem;
}

.hiw-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.hiw-video{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}


.hiw{
    color: white;
    font-family: 'Fredok', sans-serif;

}


.mascot{
    transform: rotate(-25deg);
}


.technologies{
    color: white;
    font-family: 'Fredoka', sans-serif;   
}

.tech-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
}

.image{
    margin-left: 3rem;
}

.team-title{
    color: white;
    font-family: 'Fredoka', sans-serif;
}

