footer{
    background-color: black;
    width: 100%;
    height: 5.5rem;
    bottom: 0;
}

.boschLogo{
    margin: 0.6rem;
    margin-right: 1.5em;
    margin-top: 1rem;
    float: right;
    width: 10rem;
}