.content__firstanm {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background: url("./src/bg_triangles.png");
    height: 32rem;
    width: 100%;
}

.mascot__firstanm {
    width: 25rem;
    height: 25rem;
    margin: 7rem 0 0 10rem;
}

.triangle__firstanm {
    width: 50rem;
    height: 50rem;
}


@media screen and (max-width: 380px) {
    .content__firstanm {
        height: 22rem;
    }

    .mascot__firstanm {
        width: 8rem;
        height: 8rem;
        margin-left: 3rem;
    }

    .triangle__firstanm {
        width: 8rem;
        height: 22rem;
    }
}

@media screen and (min-width: 380px) and (max-width: 575px) {
    .content__firstanm {
        height: 22rem;
    }

    .mascot__firstanm {
        width: 10rem;
        height: 10rem;
        margin-left: 3rem;
    }

    .triangle__firstanm {
        width: 10rem;
        height: 25rem;
    }
}

@media screen and (min-width: 575px) and (max-width: 900px) {
    .mascot__firstanm {
        width: 15rem;
        height: 15rem;
        margin-left: 5rem;
    }

    .triangle__firstanm {
        width: 15rem;
        height: 33rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
    .mascot__firstanm {
        width: 22rem;
        height: 22rem;
    }

    .triangle__firstanm {
        width: 25rem;
        height: 35rem;
    }
}
