.content__firstanm {
    z-index: 1;
    background: url("./src/bg_triangles.png");
    height: 32rem;
    width: 100%;
}

.bg__firstanm {
    position: relative;
    width: 100%;
}

.mascot__firstanm {
    position: absolute;
    top: 19%;
    left: 20%;
    width: 18vw;
    z-index: 1;
}

.triangle__firstanm {
    position: absolute;
    top: 5rem;
    right: 0rem;
    width: 33%;
}

@media screen and (max-width: 575px) {
    .content__firstanm {
        height: 25rem;
    }

    .mascot__firstanm {
        width: 35vw;
    }

    .triangle__firstanm {
        width: 45%;
        height: 25rem;
    }
}

@media screen and (min-width: 575px) and (max-width: 900px) {
    .mascot__firstanm {
        width: 30vw;
    }

    .triangle__firstanm {
        width: 50%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
    .mascot__firstanm {
        width: 24vw;
    }

    .triangle__firstanm {
        width: 40%;
    }
}
